*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 60px 70px;
    color: white;
    text-align: center;
   
}
.header h1{
    font-family: cursive;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.header input{
    width: 75%;
    font-size: 14px;
    float: left;
    border: none;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.addbtn{
   
    float: left;
    width: 25%;
    font-size: 14px;
    border: none;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    transition: 0.3s;
    background: rgb(43, 19, 164);
    font-weight: bolder;
    cursor: pointer;
}
.addbtn:hover{
    background-color: purple;   
}
ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 50px;
    list-style-type: none;
    background-color: aquamarine;
    font-size: 14px;
    transition: 0.2s;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
ul li:nth-child(odd){
    background-color: aqua;
}
ul li:hover{
    background-color: blue;
}
ul li.checked{
    background-color: blueviolet;
    color: black;
    text-decoration: line-through;
}
.close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px;
}
.close:active{
    color: red;
}
.close:hover{
    color: red;
    transform: scale(1.1);
}
ul li.checked::before{
    content:'';
    position: absolute;
    top: 7px;
    border-width: 0 2px 2px 0;
    left: 30px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
    border-color: black;
    border-style: solid;
}
